<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team's Info</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
                crossorigin="anonymous">

    </head>

    <body>

        <br><div class="container" style="border: 2px solid black;border-radius: 15px;">

            <br><h1 style="text-align: center;">Team's Info</h1><br>

            <form th:action="@{/europeanTeams/{leagueId}/add(leagueId=${team.leagueId})}" th:object="${team}" method="post">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Team's Name"  th:field="*{teamName}">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Year of foundation</span>
                    <input type="number" min="1800" max="1950" class="form-control" th:field="*{teamYear}">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Team's City" th:field="*{teamCity}">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Trophies</span>
                    <input type="number" min="0" max="100" class="form-control" th:field="*{teamTrophies}">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Team's Image Path" th:field="*{teamImagePath}">
                </div>

                <div class="input-group mb-3">
                    <input type="submit" class="form-control btn-dark" value="Submit">
                </div><br>

            </form>

        </div>
        
    </body>

</html>