<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>European Players</title>
    <link rel="stylesheet" th:href= "@{/css/europeanPlayers.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link 
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/htmx.org@1.9.11" 
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" 
            crossorigin="anonymous"></script>
</head>
<body>

    <!--------------------------------------------------{ SIDE BAR }-------------------------------------------------->

    <div id="wrapper"> <!-- Contains everything of and related to the siderbar. -->   
        
        <input type="checkbox" id="button"> <!-- The input of the button that opens and closes the sidebar. -->
        <label for="button" id="button-menu"> <!-- The button. -->
            <i class="fa-solid fa-bars"></i> <!-- The 3 bars icon on the button. -->
        </label>

        <nav id="sidebar"> <!-- Contains everything in the sidebar. -->

            <div id="title"> <!-- Box wich contains the UEFA logo. -->
                <img id="logo" th:src="@{/imagenesInicio/uefaemblem.png}"> <!-- The UEFA logo. -->
            </div>

            <div id="options"> <!-- Contains all the options that you can choose in the sidebar. -->

                <!-- The "#" is where you will put the direction you want this button to take you. -->
                <!-- The "fas fa-(something)" is the icon from font awesome. -->

                <li><a th:href= "@{/}"><i class="fa-solid fa-house"></i></i>Inicio</a></li> <!-- Home "button" with its icon. -->
                <li><a th:href="@{/login}"><i class="fa-solid fa-address-book"></i>Iniciar Sesión</a></li> <!-- Clients "button" with its icon. -->
                <li><a href="#"><i class="fa-solid fa-gear"></i>Ajustes</a></li> <!-- Settings "button" with its icon. -->
                <li><a href="#"><i class="fa-solid fa-bars-staggered"></i>Características</a></li> <!-- Features "button" with its icon. -->
                <li><a href="#"><i class="fa-solid fa-user"></i>Sobre nosostros</a></li> <!-- About Us "button" with its icon. -->
                <li><a href="#"><i class="fa-solid fa-envelope"></i>Contáctanos</a></li> <!-- Contact Us "button" with its icon. -->

                <div id="icons"> <!-- Contains the buttons that will redirect you to his icon page. -->
                    <a href="https://www.facebook.com/lasallesantoangelzaragoza/?locale=es_ES"><i class="fa-brands fa-facebook"></i></a> <!-- Facebook button and icon. -->
                    <a href="https://twitter.com/salleSAZgz"><i class="fa-brands fa-twitter"></i></a> <!-- Twitter button and icon. -->
                    <a href="https://github.com/juan291100/Proyecto_CSI"><i class="fa-brands fa-github"></i></a> <!-- Github button and icon. -->
                    <a href="https://www.instagram.com/lasallesantoangelzaragoza/?hl=es"><i class="fa-brands fa-instagram"></i></a> <!-- Instagram button and icon. -->
                </div>
            </div>
        </nav>

        <div id="unclickable"></div> <!-- The unclickable black area that appears when the sidebar is open. -->

    </div>

    <!---------------------------------------------------------------------------------------------------------------->



    <!---------------------------------------------------{ OTHERS }--------------------------------------------------->

    <a th:href= "@{/europeanTeams/{leagueId}(leagueId=${team.leagueId})}">
        <label id="button-login"> <!-- The login button. -->
            <i class="fa-solid fa-arrow-left"></i> <!-- User icon. -->
        </label>
    </a>

    <img id="main-logo" th:src="@{/imagenesInicio/uefaemblem.png}"> <!-- UEFA logo in the center of the main page. -->

    <img id="background" th:src="@{/imagenesJugadores/blackbackground.jpg}">

    <div id="team-box">

        <img id="team" th:src="@{${team.teamImagePath}}">
        <div id="country-box">
            <label id="team-name" th:text="${team.teamName}"></label><br>
            <img id="flag" th:src="@{${league.leagueCountryFlagImagePath}}">
            <label id="country" th:text="${league.leagueCountryShort}"></label>
        </div>

    </div>

    <!---------------------------------------------------------------------------------------------------------------->



    <!------------------------------------------------{ INFORMATIONS }------------------------------------------------>
    
    <div style="background-color: black;">
        <div id="soccer-history">
            <img id="mini-emblem" th:src="@{${team.teamImagePath}}"><br>
            <label>INFORMACIÓN DEL EQUIPO</label>
        </div>

        <div id="three-boxes">
            <div id="boxes">
                <div>
                    <img id="image" th:src="@{/imagenesJugadores/trophy.jpg}">
                </div>

                <div id="text-box">
                    <h3>Trofeos</h3>
                    <label id="info" th:text="${team.teamTrophies}"></label> <!-- This is where the data base trophy info will go. -->
                </div>
            </div>

            <div id="boxes">
                <div>
                    <img id="image" th:src="@{/imagenesJugadores/city.jpg}">
                </div>

                <div id="text-box">
                    <h3>Ciudad</h3>
                    <label id="info" th:text="${team.teamCity}"></label> <!-- This is where the data base city info will go. -->
                </div>
            </div>

            <div id="boxes">
                <div>
                    <img id="image" th:src="@{/imagenesJugadores/foundation.jpg}">
                </div>

                <div id="text-box">
                    <h3>Año de Fundación</h3>
                    <label id="info" th:text="${team.teamYear}"></label> <!-- This is where the data base year info will go. -->
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->


    
    <!----------------------------------------------{ TABLE OF PLAYERS }---------------------------------------------->

    <div class="container" style="text-align:center; margin-top: 50px; margin-bottom: 50px;">

        <br><div id="content">
            <h1>LISTA DE JUGADORES</h1>
            <div id="line"></div>
        </div>
        
        <br><br>

        <div class="input-group mb-3">
            <span class="input-group-text">🔍︎</span>
            <input type="search" name="searchData" 
                th:attr="hx-post=@{/europeanPlayers/{teamId}/searchPlayers(teamId=${teamId})}" 
                    hx-trigger="input changed delay:200ms, search" 
                        hx-target=".updateTable" class="form-control" placeholder="Buscar un jugador">
        </div>

        <br>

        <div th:fragment="updateTable" class="updateTable">

            <table class="table table-striped" style="vertical-align: middle;">

                <thead>

                    <tr class="table table-dark">
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Edad
                        </th>
                        <th>
                            Posición
                        </th>
                        <th>
                            Dorsal
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>

                </thead>

                <tbody>

                    <tr class="line" th:each="player:${players}">
                        <td th:text="${player.playerName}"></td>
                        <td th:text="${player.playerLastName}"></td>
                        <td th:text="${player.playerAge}"></td> 
                        <td th:text="${player.playerPosition}"></td>
                        <td th:text="${player.playerSquadNumber}"></td>
                        <td>
                            <a th:href="@{/europeanPlayers/{teamId}/update/{playerId}(teamId=${player.teamId},playerId=${player.playerId})}" 
                                class="btn btn-info" style="width: 48%;">Actualizar</a>
                            <a th:attr="hx-delete=@{/europeanPlayers/delete/{playerId}(playerId=${player.playerId})}" 
                                hx-confirm="Are you sure you want to delete this row?" 
                                    hx-swap="outerHTML" hx-target="closest .line" class="btn btn-danger" 
                                        style="width: 48%;">Borrar</a>
                        </td>            
                    </tr>

                </tbody>

            </table>

        </div>

        <br>

        <a th:href="@{/europeanPlayers/{teamId}/add(teamId=${teamId})}" class="form-control btn btn-dark">Añadir un Nuevo Jugador</a>

        <br><br>

        <form th:attr="hx-post=@{/europeanPlayers/{teamId}/importFromTxt(teamId=${teamId})}" 
            hx-trigger="submit" hx-swap="outerHTML" hx-target=".updateTable" 
                enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" type="file" name="file"/>
                <input type="submit" class="form-control" value="Importar datos" style="border-color: black;border-width: 2px;"/>
                <a th:href="@{/europeanPlayers/{teamId}/exportToTxt(teamId=${teamId})}" 
                    class="form-control btn btn-dark">Exportar datos</a>
            </div>
        </form>

        
        <br>

    </div>

    <a th:href="@{/europeanPlayers/{teamId}/exportToPDF(teamId=${teamId})}">
        <label id="dowload-table">
            <dfn title="Exportar la tabla a PDF"><i class="fa-solid fa-download"></i></dfn>
        </label>
    </a>

    <script>
        window.addEventListener('scroll', function() {
            var line = document.getElementById('line');
            var content = document.getElementById('content');
            var contentPosition = content.getBoundingClientRect().top;
            var screenHeight = window.innerHeight;
            var screenWidth = window.innerWidth;
            var lineLength = screenHeight - contentPosition + 400;
            var lineLeft = screenWidth / 2;
            line.style.width = lineLength + 'px';
            line.style.left = lineLeft + 'px';
        });
    </script>

    <!---------------------------------------------------------------------------------------------------------------->



    <!-------------------------------------------------{ BOTTOM AREA }------------------------------------------------>      
    
    <div id="project-area">
        <img id="mini-logo" th:src="@{/imagenesInicio/uefaemblem.png}">
        <p id="project">PROYECTO CSI</p>

        <label>Rafael de Sá Macedo</label>

        <label>Juan Navarro Borobia</label>

        <label>Adrián Ramirez</label>

        <label>Guillermo Sierra</label>

        <img id="lasalle" th:src="@{/imagenesInicio/lasalle.png}">
    </div>

    <!---------------------------------------------------------------------------------------------------------------->

</body>
</html>