<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>European Players</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
                crossorigin="anonymous">
</head>
<body>

    <br>

    <div class="container" style="text-align: center;">

        <table class="table table-striped" style="vertical-align: middle;">

            <thead>

                <tr class="table table-dark">
                    <th>
                        Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Squad Number
                    </th>
                    <th>
                        Action
                    </th>
                </tr>

            </thead>

            <tbody>

                <tr th:each="player:${players}">
                    <td th:text="${player.playerName}"></td>
                    <td th:text="${player.playerLastName}"></td>
                    <td th:text="${player.playerAge}"></td> 
                    <td th:text="${player.playerPosition}"></td>
                    <td th:text="${player.playerSquadNumber}"></td>
                    <td>
                        <a th:href="@{/europeanplayers/update/{id}(id=${player.playerId})}" class="btn btn-info" style="width: 48%;">Update</a>
                        <a th:href="@{/europeanplayers/delete/{id}(id=${player.playerId})}" class="btn btn-danger" style="width: 48%;">Delete</a>
                    </td>            
                </tr>

            </tbody>

        </table>

    </div>

</body>
</html>